{% extends 'generic/menu.html' %}


{% block head_title %}Account{% endblock %}
{% block logo_href %}{% url "account_profile" %}{% endblock %}
{% block logo_color %}green darken-1{% endblock %}
{% block logo_icon %}vpn_key{% endblock %}
{% block app_name  %}account{% endblock %}

<body>
    {% block body %}
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s10 offset-s1">
            <div class="section">
                {% block content %} {% endblock %}
            </div>
            <div class="collection with-header">
                <div class="collection-header"><strong>Other links</strong></div>
                {% if user.is_authenticated %}
                <a class="collection-item" href="{% url 'account_profile' %}">Manage Profile</a>
                <a class="collection-item" href="{% url 'account_logout' %}">Sign Out</a> {% else %}
                <a class="collection-item" href="{% url 'account_login' %}">Sign In</a>
                <a class="collection-item" href="{% url 'account_signup' %}">Sign Up</a> {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('input#input_text, textarea#textarea1').characterCounter();
            $('.modal-trigger').leanModal();
        });
    </script>
    {% endblock %}
</body>
