{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="collection with-header">
    <div class="collection-header"><strong>{% trans "Change Password" %}</strong></div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="collection-item">
        {{ form.as_p }}
    </div>
    <div class="collection-item">
        <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
    </div>
    </form>
{% endblock %}
