#header {
	height:56px;
	margin-bottom: -30px;
	}

@media screen and (max-width: 993px) {
	#header {
		margin-bottom: 10px !important;
		padding:0px !important;
	}
	.noprint {
		position:absolute;
		top:10px;
		right:10px;
		}
}

@media screen and (min-width: 993px) {
	div.colbol {
		padding-right:10px !important;
	}
	.noprint {
		position:absolute;
		top:10px;
		left:10px;
		}
}

.with-header {
	margin:0px;
}

.flow-text {
	line-height: 1.5;
}

.chips > li {
	display:inline;
}

.padding {
	margin:15px !important;
	padding:0px !important;
}

@page {
  size: A4;
  margin: 10mm;
}

@media print {

	.card {
		box-shadow: none;
	}
	.btn {
		display: none;
	}
	html {
		width:1200px;
  	}

	.print40 {
		width:49% !important;
		display:inline-block;
		padding: 0px;
		margin:0px;
	}

	.print40l {
		float:left;
	}

	.printnone {
		display:none;
	}
	h3 {
		font-size: 1.5em;
	}
}

div.colbo.col {
	margin-bottom: 14px;
	padding:0px;
}

.collection.with-header .collection-item {
    padding-left: 20px;
}

.clear{
clear:both;
}
