{% extends "skeleton.html" %}{% load staticfiles %}

{% block css %}{% endblock %}

{% block dropdown %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'flipper' %}"><i class="material-icons left">receipt</i>RuneFlip</a></li>
  <li><a href="{% url 'stuff' %}"><i class="material-icons left">home</i>HomeCatalog</a></li>
  <li><a href="{% url 'kml' %}"><i class="material-icons left">account_balance_wallet</i>Kerbal Mission Log</a></li>
</ul>
{% endblock %}

{% block menu_links_unauth %}{% block menu_links_unauth2 %}
<li><a href="{% url 'flipper' %}"><i class="material-icons left">receipt</i>RuneFlip</a></li>
<li><a href="{% url 'stuff' %}"><i class="material-icons left">home</i>HomeCatalog</a></li>
<li><a href="{% url 'kml' %}"><i class="material-icons left">account_balance_wallet</i>Kerbal Mission Log</a></li>
<!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->
<li><a href="{% url 'cv' %}"><i class="material-icons left">person</i>CV</a></li>
{% endblock %}{% endblock %}

{% block superuser %}{% block superuser2 %}
<li><a href="{% url 'wiki:root' %}"><i class="material-icons left">assignment</i>Wiki</a></li>
{% endblock %}{% endblock %}

{% block nav_extra %}{% endblock %}
{% block body %}{% endblock %}
<script>
{% block pagescript %}
{% block script %}{% endblock %}
{% endblock %}
</script>
