{% extends 'generic/base.html' %}
{% load account %}
{% load socialaccount %}

{% block content %}

{% if user %}

<ul class="collection with-header z-depth-0">
    <li class="collection-header valign-wrapper"><a href="#accountmodal" class="modal-trigger valign"><i class="material-icons">info_outline</i></a><strong>Account Info</strong><div class="center-block" style="margin-right:0px;"><a href="{% url 'account_change_password' %}?app=home" class="waves-effect waves-light btn">Password</a></div></li>
    <li class="collection-item"><i class="material-icons" style="vertical-align:middle;">person</i><span style="vertical-align:middle;"><strong>First Name </strong> {{user.first_name}}</span></li>
    <li class="collection-item"><i class="material-icons" style="vertical-align:middle;">email</i><span style="vertical-align:middle;"><strong>Email </strong> {{user.email}}</span></li>
</ul>

<ul class="collection with-header z-depth-0">
    <li class="collection-header valign-wrapper"><a href="#socialmodal" class="modal-trigger valign"><i class="material-icons">info_outline</i></a><strong>Social Accounts</strong><div class="center-block" style="margin-right:0px;"><a href="{% url 'socialaccount_connections' %}?app=home" class="waves-effect waves-light btn">Manage</a></div></li>
    {% for account in user.socialaccount_set.all %}
    <li class="collection-item valign-wrapper" style="width:100%">
        <img class="circle" width="50px" src="{{ account.get_avatar_url }}" /><h6 class="title valign" style="padding-left:20px;">{{ account.extra_data.given_name }}{{ account.extra_data.first_name }} {{ account.extra_data.family_name }}{{ account.extra_data.last_name }}<br><label> {{account.provider}}</label></h6>
    </li>
    {% endfor %}
</ul>

<ul class="collection with-header z-depth-0">
    <li class="collection-header valign-wrapper"><a href="#socialmodal" class="modal-trigger valign"><i class="material-icons">info_outline</i></a><strong>Email Accounts</strong><div class="center-block" style="margin-right:0px;"><a href="{% url 'account_email' %}?app=home" class="waves-effect waves-light btn">Manage</a></div></li>
    {% for emailaddress in user.emailaddress_set.all %}
    <li class="collection-item valign-wrapper" style="width:100%">
        <label for="email_radio_{{forloop.counter}}">{{ emailaddress.email }}
            {% if emailaddress.verified %}
                <span class="verified green-text">verified</span>
            {% else %}
                <span class="unverified red-text">unverified</span>
            {% endif %}
            {% if emailaddress.primary %}<span class="primary amber-text">primary</span>{% endif %}
        </label>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div id="accountmodal" class="modal">
    <div class="modal-content">
        <p><strong>Your Account Info</strong></p>
        <p>This lists the basic information we have about you. If you want to change any of this info, or would like to delete your account, please contact me.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
</div>
<div id="socialmodal" class="modal">
    <div class="modal-content">
        <p><strong>Social Accounts</strong></p>
        <p>You may make an account on this site with an account from another site. We support google for the moment, but if you'd like to see more, let me know.
        You may unlink your account with the unlink button. This will take you to the account management page.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
</div>

{% endblock %}
