{% extends 'flipper/menu.html' %}{% load staticfiles %}

{% block content %}
<div id="dashinfo">
    <ul id="trade">
        <li class="tooltipped" data-position="top" data-delay="50" data-tooltip="Total Profit"><i class="material-icons left">arrow_upward</i><span class="gpify">{{ profit }}</span></li>
        <li><span>|</span></li>
        <li class="tooltipped" data-position="top" data-delay="50" data-tooltip="# of Flips"><i class="material-icons left">cached</i><span>{{flipnumber}}</span></li>
        <li><span>|</span></li>
        <li class="tooltipped" data-position="top" data-delay="50" data-tooltip="Avg Return"><i class="material-icons left">trending_up</i><span>{{averageroi}}%</span></li>
    </ul>
</div>

<div id="app"></div>

<script type="text/babel" src="{% static 'flipper/js/dashboard.js' %}"></script>

{% for item in flips %}



{% endfor %}

{% endblock %}

{% block scripttype %}type = "text/babel"{% endblock %}

<script>
{% block script %}

$(document).ready(function() {
    $("#dash").addClass("active");
    $("time.timeago").timeago();
    $('#itemsort').mixItUp();
    $('.gpify').each(numbercrunch)
});

{% endblock %}
</script>
