{% extends "flipper/menu.html" %}{% load staticfiles %}

  <script>
{% block script %}

    $.getJSON('{% url "flipper_items_json" %}', function(flipsjson) {
        flips = flipsjson;
    });

    $(document).ready(function() {
        itemsTable = $("#itemslist").DataTable({
            "pagingType": "full_numbers",
            "initComplete": function(settings, json) {
              $(".page-footer").css("visibility","visible");
            },
            "sDom": '<"top">tip',
            "order": [[ 4, "desc" ]],
            responsive: true,
            ajax: {
                url: '{% static "flipper/items.json" %}',
                "dataSrc": function (items) {
                    var return_data = new Array();
                    for(var i=0;i< flips.length; i++){
                        if (items[flips[i]['item']-1]['profit'] == undefined) {
                            items[flips[i]['item']-1]['profit'] = (flips[i]['sellprice']-flips[i]['buyprice'])*flips[i]['number']
                        }
                        else {
                            items[flips[i]['item']-1]['profit'] += (flips[i]['sellprice']-flips[i]['buyprice'])*flips[i]['number']
                        }
                    }
                    return items;
                }
            },
            columns: [
              {   data: '',
                  "render": function ( data ) {
                      return '<img class="imgicon" style="width:36px;height:36px;" src="">';
                  },
              },
              {   data: 'name',
                  "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html("<a href='"+oData.itemid+"'>"+oData.name+"</a>" )}
              },
              {   data: 'itemid' },
              {   data: 'members',
                  "render": function ( data ) {
                      if(data == 'False') {return 'No'}
                      else {return 'Yes'}
                  },
              },
              {   data: 'profit',
                  "defaultContent": "0",
                  "render": function ( data, type ) {
                      if(type == "display") {
                          return gpify(data);
                      }
                      return data
                  },
              },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
              $(nRow).each(function(entry) {
                  image = this.childNodes[0].childNodes[0]
                  image.setAttribute("src", '/static/flipper/images/big/'+aData['itemid']+'.gif')
              });
            }
        });
        $('#searchbar').keyup(function() {
            itemsTable.search($(this).val()).draw() ;
        });
    });
    $("#items").addClass("active");

{% endblock %}
  </script>

{% block navaugment %}
  <nav id="search">
      <div class="nav-wrapper">
              <div class="input-field">
                  <input id="searchbar" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
              </div>
      </div>
  </nav>
{% endblock %}

{% block content %}
  <main>
      <div id=content>
          <div class="row" id="orders">
              <table id="itemslist" class="display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th data-priority="2"></th>
                          <th data-priority="1">Name</th>
                          <th data-priority="5">ID</th>
                          <th data-priority="4">Members?</th>
                          <th data-priority="3">Profit</th>
                      </tr>
                  </thead>
              </table>
          </div>
      </div>
  </main>
{% endblock %}

<style>
{% block style %}
nav .input-field input {
  height:60px;
}
{% endblock %}
</style>
