@font-face {
  font-family: 'chunk';
  src:  url('/static/shared/fonts/chunk.woff2') format('woff2');
}

.chunk {
    font-family: "chunk" !important;
    letter-spacing: 1px;
}

@font-face {
  font-family: 'aquino';
  src:  url('/static/shared/fonts/aquino.woff2') format('woff2');
}

.aquino {
    font-family: "aquino" !important;
}

@font-face {
  font-family: 'larch';
  src:  url('/static/shared/fonts/larch.woff2') format('woff2');
}

.larch {
    font-family: "larch" !important;
}

html {
  overflow-y: scroll; }

nav {
  box-shadow: 0 2px 5px 0 transparent !important; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-weight: bold;
    line-height: 58px;
    font-size: 2.3rem !important;
}

footer.page-footer {
    padding-top: 0px !important;
}

.socialaccount_providers li {
    display:inline;
}

.collection-header {
    margin:0px !important;
}

.landing {
    min-height: calc(100vh - 60px);
    color:#FFF;
    text-shadow: 0 2px 1px rgba(0,0,0,0.4);
}

@media screen and (max-width: 992px) {
	h3 {
		font-size: 180% !important;
	}
}

@media screen and (min-width: 993px) {
}
