{% extends 'catalog/menu.html' %}
{% load account %}
{% load socialaccount %}

{% block nav_extra %}

{% endblock %}

{% block body %}

<div class="section">
<div class="row">
    <div class="col s10 offset-s1">
        <h3><strong>Contact Me!</strong></h3>

        <p class="flow-text">Have any suggestions? Let me know. I mainly use this tool for myself, but you are free to use it as much as you like for absolutely nothing.
            I enjoy making small tools like this in my free time (maybe I'll package them together one day but everyone who makes an account now will get free use forever).
            If you do use my tools, then consider buying me a beer and forever be immortalized in the hall of fame.</p>
    </div>
</div>
</div>

<div class="section">
<div class="row">
    <div class="col s10 offset-s1">
        <div class="col s6 center">
            <i class="material-icons large">email</i>
            <h4><strong>You can email me. I'll write back.</strong></h4>
            <a href="mailto:arlyon@me.com"><h5>arlyon@me.com</h5></a>
        </div>
        <div class="col s6 center">
            <i class="material-icons large">receipt</i>
            <h4><strong>Hungry student, looking for work!</strong></h4>
            <a href="{% url 'cv' %}"><h5>cv</h5></a>
        </div>
    </div>
</div>
</div>

{% endblock %}
