{% extends "skeleton.html" %}{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="{% static "catalog/style.css" %}">
<link href="{% static "shared/css/hover.css" %}" rel="stylesheet">

{% endblock %}

{% block head_title %}Catalog{% endblock %}


{% block logo_href %}{% url "stuff" %}{% endblock %}
{% block logo_color %}blue darken-2{% endblock %}
{% block logo_icon %}home{% endblock %}
{% block app_name  %}Catalog{% endblock %}

{% block menu_links %}{% block menu_links2 %}
<li><a href="{% url 'stuff_catalog' %}"><i class="material-icons left">format_list_bulleted</i>Catalog</a></li>
<li><a href="{% url 'stuff_rooms' %}"><i class="material-icons left">room</i>Rooms</a></li>
{% endblock %}{% endblock %}

{% block nav_extra %}{% endblock %}
{% block body %}{% endblock %}
{% block pagescript %}{% endblock %}
